.change-password-form{
  display: flex;
    padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h2{
    text-align: left;
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}

.changepassword-btn{
    margin-top: 15px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}

.change-password-form{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  input {
    width: 200px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
  }

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: var(--inactive-btn-color);
    margin-bottom: 5px; 
  }

  .required {
    color: var(--error-color);
    margin-left: 5px;
  }
}

.password-rules-cp{
  width: 250px; 
}

input[type="checkbox"].changepassword-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
      width: 10px;
      height: 10px;
      border: 2px solid var(--primary-color); /* Slightly darker border */
      border-radius: 15px; /* Rounded edges */
      display: inline-block;
      position: relative;
      vertical-align: middle;
  }
  
  input[type="checkbox"].changepassword-checkbox:checked {
    background-color: var(--background-color);
  }
  
  input[type="checkbox"].changepassword-checkbox:checked::before{
    content: '';
    position: absolute;
      top: 1px;
      left: 6px;
      width: 6px;
      height: 12px;
      border: solid var(--primary-color);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
  }