.faculty-profile-page.popup-active{
    overflow: hidden;
}

.faculty-profile-page::-webkit-scrollbar{
    display: none;
}

.search-filter {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border-color: var(--primary-color);
}