.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #007467; /* Updated background color */
    color: white; /* Text color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: calc(100% - 250px); /* Adjust width to accommodate sidebar */
    left: 250px;
    z-index: 1000;
  }
  
  .header h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .header .profile {
    position: relative;
    cursor: pointer;
  }
  
  .header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; /* Matches header text color */
  }
  
  .header .dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white; /* Dropdown background */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
  }
  
  .header .dropdown p {
    margin: 10px 0;
    font-size: 14px;
    color: black; /* Dropdown text color */
    cursor: pointer;
  }
  
  .header .dropdown p:hover {
    color: #007467; /* Dropdown hover text color */
  }
  